:root {
  --mainnav-color: #8ae2f1;
  --background-color: rgb(185, 185, 227);
  --button-background-color: rgb(208, 246, 206);
  --menu-background-color: rgb(191, 147, 147);
  --footer-color: rgb(255, 255, 255);
  --border-color: rgb(124, 99, 99);
  --exercise-button-color: #8ef0f7;
  --cn: 'Courier New', Courier, monospace;
  --ultra: 60px;
  --mega: 30px;
  --medium: 20px;
  --mild: 15px;
}

body {
  background-image: url('dev-matt.com:3001/images/retro-green.jpg');
  background-size: cover;
  /* background-repeat: repeat; */
  background-color: blue;
}

.background {
  background-image: url('dev-matt.com:3001/images/retro-green.jpg');
  background-size: cover;
  /* background-repeat: repeat; */
  background-color: blue;
  /* background-position: 0%; */
}

.App {
  text-align: center;
  /* background-color: var(--background-color); */
  /* background-color: black; */
  /* border: 5px solid black; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainmenu {
  font-family: var(--cn);
  font-size: var(--mega);
  width: 80%;
  margin-top: 10px;
  margin-left: 10%;
  background-color: var(--menu-background-color);
  padding: 10px;
  border: 5px solid var(--border-color);
  border-radius: 10%;
}

.menubutton {
  padding: 10px;
  border: 5px solid var(--border-color);
  background-color: var(--button-background-color);
  border-radius: 10%;
}

.header {
  background-color: purple;
  border-radius: 20%;
  opacity: 25%;
  position: fixed;
  left: 35%;
  top: 0;
  right: 0;
  margin-top: 10px;
  width: 30%;

}


.navtext {
  background-color: blue;

}

.navlink {
  background-color: purple;
}

html {
  /* background-color: var(--background-color); */
  /* border: 30px solid black; */
  background-image: url('https://static.vecteezy.com/system/resources/previews/002/623/564/original/abstract-perspective-green-grid-retro-futuristic-neon-line-on-dark-background-80s-design-perspective-distorted-plane-landscape-composed-of-crossed-neon-lights-and-laser-beams-illustration-vector.jpg');
  background-size: cover;
  /* background-repeat: repeat; */
  background-color: blue;
  /* background-color: black; */
  /* box-shadow: 30px 30px 40px rgba(0, 0, 0, 0.759); */
  /* margin: 30px; */
    /* background: black; */
  /* padding: 10px; */
    /* box-shadow: 0 0 7px 3px #ffffff; */
}

.footer {
  background-color: var(--footer-color);
  font-size: 0;
  position: fixed;
  bottom: 40px;
  right: 0;
  /* margin-bottom: 10px; */
  /* background-color: purple; */
  border-radius: 10%;
  opacity: 30%;
  position: fixed;
  left: 35%;
  /* margin-top: 10px; */
  width: 30%;
  transition: 500ms;
}

.footer:hover {
  background-color: var(--footer-color);
  border-radius: 25%;
  font-size: var(--ultra);
  left: 20%;
  width: 60%;
  opacity: 60%;
  transition: 500ms;
}

.inputfield {
  width: 80%;
  padding: 10px;
  border: 5px solid var(--border-color);
  border-radius: 10%;
}

/* .spanicon:hover { */
  /* border: 10px solid var(--border-color); */
  /* transition: 250ms; */
/* } */

.spanicon:hover {
  margin: 3%;
  /* opacity: 100%; */
  transition: 250ms;
}

.spanicon {
  margin: 0;
  /* opacity: 100%; */
  transition: 250ms;
}

.exerciseBtn {
  font-size: 20px;
  background-color: var(--exercise-button-color);
  border: 5px solid var(--border-color);
  padding: 10px;
  width: 80%;
  margin: 0;
}

#mainnav {
  position:fixed;
  left:2%;
  right:2%;
  top:2%;
  background-color: var(--mainnav-color);
  border-radius: 2%;
  height: 10%;
  opacity: 0.8;
}

#maindiv {
  position: fixed;
  top: 12%;
}